.ver {
  background-color: #800000;
  color: white;
}
#titulo {
  color: #800000;
}
a {
  margin: 20px;
}

#mail {
  color: #5c252a;
}

footer {
    color:#ffff;
    background-color: #5c252a;
    margin-top: 20px;
    
}
footer a {
    color: #ffff;
}
#productos {
    margin:30px;
}
body {
  margin-top: 100px;
}

.card-jean {
  flex : 1 150px;
  padding : 2px 5px 2px 5px;
  margin-top : 10px;
}

.btn-jeans {
  width : 100%;
  border-radius: 0%;
}
.banner {
  margin-top: -1%;
}
.titulo{
  padding: 20px;
}
.card-fav{
  margin-top: 50px;
  margin-bottom: 50px;
}
